<div class="form">
    
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Nome:</label>
          <input id="name" formControlName="name" />

        </div>
      
        <div>
          <label for="occupation">Ocupação:</label>
          <input id="occupation" formControlName="occupation" type="text" />
          
        </div>
      
        <div>
          <label for="newsletter">Deseja receber noticias</label>
          <input type="checkbox" id="newsletter" formControlName="newsletter">
        </div>
      
        <button type="submit" [disabled]="formulario.invalid">Enviar</button>
      </form>
</div>

<div *ngIf="userCreate">
  <h1>Usuário criado com sucesso!</h1>
  <li >
    <a routerLink="/list/{{userCreate?.id}}">Pagina de usuario</a>
    nome: {{userCreate?.name}} - ocupação: {{userCreate?.occupation}}
    <p *ngIf="userCreate?.occupation">Aceita envio de Emails</p>
</li>
</div>